<canvas #powdertoycanvas class="powdertoy-canvas" width=800 height=600 style="outline: 1px solid black">
    <!-- for some reason the CSS isn't work no matter how I change things, unless it's inline. -->
    This HTML canvas appears to not be rendering. 
    Please contact us with what browser and device you're using
</canvas>

<br>

<button #colorbutton000 class="colorbutton" style="background-color: #000;"></button>
<button #colorbutton00f class="colorbutton" style="background-color: #00f;"></button>
<button #colorbutton0f0 class="colorbutton" style="background-color: #0f0;"></button>
<button #colorbutton0ff class="colorbutton" style="background-color: #0ff;"></button>
<button #colorbuttonf00 class="colorbutton" style="background-color: #f00;"></button>
<button #colorbuttonf0f class="colorbutton" style="background-color: #f0f;"></button>
<button #colorbuttonff0 class="colorbutton" style="background-color: #ff0;"></button>