<div id="title-pic">
  <h1>Seattle Central College<br />Programming Club</h1>
  <img
    src="../../../assets/images/sccpc_first-meeting.jpeg"
    alt="Programming Club's First Meeting"
  />
</div>

<section id="about">
  <h2>About Us</h2>
  <p>
    The Seattle Central College Programming Club is a student club open to all
    students of its college. Computer programming is the main interest the club
    members share, but we also discuss about anything related to Computer
    Science in general.
  </p>
</section>
