.container {
  display: flex;
  height: 100%;
  width: 100%;
  background: #222;

  padding: 4rem;
  gap: 4rem;
}

.field {
  background-color: #2e2e2e;
  padding: 5px;
  border-radius: 5px;
  flex-grow: 1;
  aspect-ratio: 1;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}

.info {
  width: 20rem;
  background-color: #222;
  padding: 2rem;
  color: white;
  border-radius: 5px;
}

.info .info-score {
  margin-bottom: 2rem;
}

.info .info-score #score {
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: right;
}

.info .info-apples div {
  display: flex;
  align-items: center;
  justify-content: right;
}

.info .info-apples #apples {
  font-size: xx-large;
}

.info .info-apples img {
  width: 1.5rem;
}

.leaderboard {
  width: 20rem;
  background-color: #222;
  color: white;
  border-radius: 5px;
}

.field-overlay {
  position: absolute;
  background-color: #2222227d;
  inset: 0;
  display: none;
}

.gameover {
  width: 15rem;
  color: white;
  background-color: #222;
  border-radius: 10px;
  border: 4px solid #333;
  margin: auto;

  display: none;
}

.gamestart {
  width: 15rem;
  color: white;
  margin: auto;

  display: none;
}

.gamestart .start-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: large;

  background-color: #22c55e;
}

.gamestart p {
  font-size: xx-large;
}

.gamestart .username {
  color: white;
  background: none;
  outline: none;
  border: none;

  font-size: large;
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border-bottom: 2px solid #22c55e;
}

.gameover .restart-btn {
  background: none;
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

.leaderboard p,
.gameover .gameover-title {
  font-size: xx-large;
  padding: 2rem;
}

.leaderboard-entry,
.gameover-leaderboard-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0.75rem;
  border-bottom: 2px solid #393939;
  margin-bottom: 5px;
}

.leaderboard-entry .entry-standing,
.gameover-leaderboard-entry .entry-standing {
  display: flex;
  gap: 1rem;
}

.leaderboard-entry .entry-stats,
.gameover-leaderboard-entry .entry-stats {
  display: flex;
  gap: 1rem;
}
.leaderboard-entry .entry-apples,
.gameover-leaderboard-entry .entry-apples {
  display: flex;
}
.leaderboard-entry .entry-apples img,
.gameover-leaderboard-entry .entry-apples img {
  width: 1rem;
  height: 1rem;
}
