<div class="container">
    <div class="leaderboard">
        <p>Leaderboard</p>
        <div *ngFor="let entry of leaderboard.get(5); let i = index" [attr.data-index]="i">
            <div class="leaderboard-entry">
                <div class="entry-standing">
                    <span>{{i + 1}}</span>
                    <span class="entry-username">{{entry.username}}</span>
                </div>
                <div class="entry-stats">
                    <div class="entry-apples">
                        <img
                            src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                        <div>{{entry.apples}}</div>
                    </div>
                    <span>{{entry.points}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="field-overlay" #field_overlay>
            <div class="gameover" #gameover>
                <p class="gameover-title">Game Over!</p>
                <div class="gameover-leaderboard"
                    *ngFor="let entry of leaderboardUI.uiGetGameOverEntries('Cod3d', game.score); let i=index"
                    [attr.data-index]="i">
                    <div class="gameover-leaderboard-entry">
                        <div class="entry-standing">
                            <span>{{i + leaderboard.getPlace("Cod3d") - 1}}</span>
                            <span class="entry-username">{{entry.username}}</span>
                        </div>
                        <div class="entry-stats">
                            <div class="entry-apples">
                                <img
                                    src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                                <div>{{entry.apples}}</div>
                            </div>
                            <span>{{entry.points}}</span>
                        </div>
                    </div>
                </div>
                <button class="restart-btn" #gameover_restart (click)="fieldUI.uiOnRestartClicked()">
                    I wanna go again!
                </button>
            </div>
            <div class="gamestart" #gamestart>
                <p>Snakey</p>
                <input type="text" #username required placeholder="Username" class="username"
                    (change)="fieldUI.uiOnUsernameChanged(username.value)">
                <button class="start-btn" #gamestart_start (click)="fieldUI.uiOnStartClicked()">
                    Lets play!
                </button>
            </div>
        </div>
        <canvas class="canvas" #canvas width="1000" height="1000"></canvas>
    </div>
    <div class="info">
        <div class="info-score">
            <p>Score</p>
            <p #score id="score">{{game.score.points}}</p>
        </div>
        <div class="info-apples">
            <p>Apples</p>
            <div>
                <span #apples id="apples">{{game.score.apples}}</span>
                <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
            </div>
        </div>
    </div>
</div>
