<div class="container">
    <div class="leaderboard">
        <p>Leaderboard</p>
        <div class="leaderboard-entry">
            <div class="entry-standing">
                <span>1</span>
                <span class="entry-username">Cod3d</span>
            </div>
            <div class="entry-stats">
                <div class="entry-apples">
                    <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                    <div>5</div>
                </div>
                <span>1200</span>
            </div>
        </div>
        <div class="leaderboard-entry">
            <div class="entry-standing">
                <span>1</span>
                <span class="entry-username">Cod3d</span>
            </div>
            <div class="entry-stats">
                <div class="entry-apples">
                    <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                    <div>5</div>
                </div>
                <span>1200</span>
            </div>
        </div>
        <div class="leaderboard-entry">
            <div class="entry-standing">
                <span>1</span>
                <span class="entry-username">Cod3d</span>
            </div>
            <div class="entry-stats">
                <div class="entry-apples">
                    <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                    <div>5</div>
                </div>
                <span>1200</span>
            </div>
        </div>
        <div class="leaderboard-entry">
            <div class="entry-standing">
                <span>1</span>
                <span class="entry-username">Cod3d</span>
            </div>
            <div class="entry-stats">
                <div class="entry-apples">
                    <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                    <div>5</div>
                </div>
                <span>1200</span>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="gameover">
            <p>Game Over!</p>
            <div class="over-leaderboard">
                <div class="over-leaderboard-entry">
                    <div class="entry-standing">
                        <span>1</span>
                        <span class="entry-username">Cod3d</span>
                    </div>
                    <div class="entry-stats">
                        <div class="entry-apples">
                            <img
                                src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                            <div>5</div>
                        </div>
                        <span>1200</span>
                    </div>
                </div>
                <div class="over-leaderboard-entry">
                    <div class="entry-standing">
                        <span>1</span>
                        <span class="entry-username">Cod3d</span>
                    </div>
                    <div class="entry-stats">
                        <div class="entry-apples">
                            <img
                                src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                            <div>5</div>
                        </div>
                        <span>1200</span>
                    </div>
                </div>
                <div class="over-leaderboard-entry">
                    <div class="entry-standing">
                        <span>1</span>
                        <span class="entry-username">Cod3d</span>
                    </div>
                    <div class="entry-stats">
                        <div class="entry-apples">
                            <img
                                src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
                            <div>5</div>
                        </div>
                        <span>1200</span>
                    </div>
                </div>
            </div>
        </div>
        <canvas class="canvas" #canvas width="1000" height="1000"></canvas>
    </div>
    <div class="info">
        <div class="info-score">
            <p>Score</p>
            <p #score id="score">200</p>
        </div>
        <div class="info-apples">
            <p>Apples</p>
            <div>
                <span #apples id="apples">5</span>
                <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/af/Apple_JE3_BE3.png" />
            </div>
        </div>
    </div>
</div>
