nav {
  width: 100%;
  height: 10vh;
  min-height: 50px;
  background-color: #283b62;
  position: relative;
}

#title {
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 2.5%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: rgb(135, 184, 249) !important;
}

#title a {
  font-size: 1rem;
  padding: 5px 10px;
}

.nav-list {
  display: inline-block;
  position: absolute;
  background-color: #283b62;
}

.nav-list ul {
  background-color: #283b62;
}

.nav-list ul li a {
  padding: 8px 15px;
  font-size: 0.8rem;
}

.top-navbar {
  display: inline-block;
  position: absolute;
  bottom: 6%;
  margin-left: 5vw;
}

.top-navbar ul li {
  margin: 0 10px;
  display: inline-block;
}

.collapsed {
  display: none !important;
}

.expanded {
  display: inline-block;
}

.side-navbar {
  position: absolute;
  right: 0;
  top: 10vh;
  z-index: 1000;
}

.side-navbar ul li {
  display: block;
  margin: 10px 0;
  text-align: center;
}

mat-icon {
  position: absolute;
  right: 3%;
  bottom: 20%;
  cursor: pointer;
  font-size: 1.8rem;
  color: #ffffff;
}
