<nav>
  <div id="title">
    <a id="sccpc" [routerLink]="['/home']" (click)="hide()">SCC<br />Programming Club</a>
  </div>
  <div class="nav-list" [ngClass]="{ 'top-navbar': !smallScreen, 'side-navbar': smallScreen }">
    <ul [ngClass]="{
        collapsed: smallScreen && !onClickMenu(),
        expanded: smallScreen && onClickMenu()
      }">
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active" (click)="hide()">Home</a>
      </li>
      <li>
        <a [routerLink]="['/current-members']" routerLinkActive="active" (click)="hide()">Members</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active" (click)="hide()">Contact</a>
      </li>
    </ul>
  </div>
  <mat-icon *ngIf="smallScreen" (click)="onClickMenu()">menu</mat-icon>
</nav>
