<nav>
    <div class="sccpc">
      <a [routerLink]="['/home']" (click)="hide()">Seattle Central College Programming Club</a>
    </div>
    <div class="nav-list" [ngClass]="{'nav-list--side': smallScreen, 'nav-list--inline': !smallScreen}" >
      <ul [ngClass]="{'side-ul--show': smallScreen && !collapsed, 'side-ul--hide': smallScreen && collapsed}">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active" (click)="hide()">Home</a>
          <span></span>
        </li>
        <li>
          <a [routerLink]="['/members']" routerLinkActive="active" (click)="hide()">Members</a>
          <span></span>
        </li>
        <li>
          <a [routerLink]="['/socials']" routerLinkActive="active" (click)="hide()">Socials</a>
          <span></span>
        </li>
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="active" (click)="hide()">Contact</a>
          <span></span>
        </li>
      </ul>
    </div>
  </nav>
