h2 {
    font-size: 1.4rem;
    text-align: center;
    margin: 25px 0 5px;
}

span {
    text-align: center;
}

hr {
    margin-top: 1vh;
    margin-bottom: 15px;
}

#profiles {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

app-card {
    width: 48%;
    max-width: 250px;
    height: auto;
    max-height: 360px;
    margin: 1.5vh 0.8vw;
    background-color: #f2e4cd;
    box-shadow: rgb(31, 32, 33) 0px 20px 30px -10px;
    border: 1px solid black;
    border-radius: 5px;
}
