<div class="rps-title-container">
    <h2>Rock, Paper, Scissors!</h2>
</div>

<div class="score">
    <span class="displayer user">user</span>
    <span class="displayer computer">computer</span>
</div>

<div class="rps-container" >
    <div class="item rock" (click)="selectItem('rock')">
        <mat-icon>account_circle</mat-icon>
    </div>
    <div class="item paper" (click)="selectItem('paper')">
        <mat-icon>pan_tool</mat-icon>
    </div>
    <div class="item scissors" (click)="selectItem('scissors')">
        <mat-icon>content_cut</mat-icon>
    </div>
</div>
