.rps-title-container {
    background-color: white;
    height: 90px;
    width: 100%;
    border-radius: 5px;
}

.rps-title-container h2 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.score {
    width: 250px;
    height: 85px;
    margin: 5px auto 2px;
    border: 2px solid black;
    border-radius: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayer {
    width: 35px;
    height: 1.2rem;
    background-color: green;
}

.rps-container {
    background-color: #24272E;
    width: 90%;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: inline-block;
    border: 1px solid white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.item:hover {
    background-color: #352c87;
}

.item mat-icon {
    color: white;
}
